* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Segoe UI', Roboto, 'Noto Sans', snas-serif;
}
body {
	background-color: #eceff4;
	color: #2e3440;
}
h1 {
	margin-top: 2rem;
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h1, h2 {
	padding: 1rem;
}
div, span {
	font-size: 1.2rem;
}
noscript {
	position: fixed;
	z-index: 888888;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.head {
	padding: 2rem;
}
.head span {
	font-size: 1.75rem;
}
#hash, .grad {
	background: linear-gradient(to right, #5e81ac 0%, #88c0d0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color:  transparent;
	background-clip: text;
	text-fill-color:  transparent;
	font-weight: bold;
	text-decoration: none;
	
}
.body {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.card {
	background-color: #fff;
	border-radius: .5rem;
	margin: 1rem 2rem;
	padding: 1rem;
	width: calc(100% - 6rem);
	padding-bottom: 2rem;
	box-shadow: 0 0 0 #fff;
	transition: box-shadow 400ms ease-in-out 0s;
}
.card div {
	padding: .5rem;
}
.card span {
	font-weight: 300;
}
.card:hover {
	box-shadow: .25rem .25rem 2rem #d8dee9;
}
#canvas {
	max-width: 100%;
}
footer {
	position: sticky;
	color: #eceff4;
	background-color: #2e3440;
	margin-top: 2rem;
	padding: 1rem;
	top: 100vh;
}
@media (min-width: 42em) {
	.card {
		margin: 1rem;
		width: calc(50% - 2rem);
	}
}
@media (min-width: 62em) {
	.card {
		width: calc(33% - 2rem);
	}
}